* {
    background-color: #5C5D67;
    font-family: 'Courier New', Courier, monospace;
}

.s-header {
    position: absolute;
    top: 5%;
    left: 5%;
    margin: auto;
    text-align: center;
    color: white;
}

.s-body {
    position: absolute;
    top: 11%;
    left: 5%;
    margin: auto;
    color: #6ed3e7;
}

.s-container {
    position: absolute;
    top: 20%;
    left: 25%;
}

.l-container {
  margin-top: 100px;
  text-align: center;
  color: white;
}

.skills-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-white {
  background-color: white
}

.login-container {
    margin-top: 200px;
}

.login-btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #6ed3e7;
  border-radius: 0.6em;
  color: #6ed3e7;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.login-btn:hover, .login-btn:focus {
  color: #fff;
  outline: 0;
}

.first-login {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first-login:hover {
  box-shadow: 0 0 40px 40px #6ed3e7 inset;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  background-color: white;
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
  background-color: white;
}

.label-text {
  margin-left: 16px;
  background-color: white;
}

.toggle {
  background-color: white;
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #64daf1;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
}

.toggle-state:checked ~ .indicator {
  background-color: rgb(187, 180, 180);
  transform: translate3d(25%, 0, 0);
}