.s-header {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
}

.s-container {
  margin-top: 150px;
}


.auth-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.l-container {
  margin-top: 200px;
}

.l-body {
  text-align: center;
  color: #6ed3e7;
  font-family: 'Courier New', Courier, monospace;
}

.tech-row-first {
  text-align: center;
  margin-top: 100px;
}

.tech-row {
  text-align: center;
  margin-top: 150px;
}

.tech-row-last {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.s-wrapper {
  background-color: #6c757d;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 250vh;
  max-height: 175vh;
}

.auth-btn {
  background-color: #6ed3e7;
  color: white;
  border: white;
  margin-top: 10px;
}

.auth-border {
  border-right: 1px solid;
}

.theme-body {
  text-align: center;
}