.header {
    margin-top: 350px;
    text-align: center;
    color: #6ed3e7;
    font-family: 'Courier New', Courier, monospace;
}

.h-wrapper {
  background-color: #6c757d;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 250vh;
  max-height: 100vh;
}

.footer {
    color: #6ed3e7;
}

.op0 {
    opacity: 0;
}

.dropdown {
    z-index: 2;
    color: white;
    background-color: #6ed3e7;
}

.first-drop {
    text-align: center;
    margin:150px;
}
.second-drop {
    text-align: center;
    margin:150px;
}
.third-drop {
    text-align: center;
    margin:150px;
}
.fourth-drop {
    text-align: center;
    margin:150px;
}

.first-drop-text:hover {
    background-color: whitesmoke;
    color: black;
}
.second-drop-text:hover {
    background-color: whitesmoke;
    color: black;
}
.third-drop-text:hover {
    background-color: whitesmoke;
    color: black;
}
.fourth-drop-text:hover {
    background-color: whitesmoke;
    color: black;
}

.first-drop-text {
    cursor: pointer;
}
.second-drop-text {
    cursor: pointer;
}
.third-drop-text {
    cursor: pointer;
}
.fourth-drop-text {
    cursor: pointer;
}