* {
    background-color: rgb(65, 63, 63);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.App {
    position: absolute;
    top: 35%;
    left: 35%;
    margin: auto;
    text-align: center;
}

.fade {
    opacity: 0;
}